css
header{
    background-color: fuchsia;
    padding: 10px 0;
    text-align: center;
}

nav button{
    background-color:aqua;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button.active{
background-color: aquamarine;
}