body {
    margin: 0;
    color: #333; /* Texto preto */
    font-family: 'Arial', sans-serif;
    background: url('caminho/para/sua/imagem.jpg') center center fixed; /* Substitua pelo caminho da sua imagem */
    background-size: cover;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 140px;
}

.nav-links {
    flex: 1;
    text-align: right;
    z-index: 1;
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a
{
    color: #F8DE22;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: #F94C10;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after
{
    background: #F94C10;
    width: 100%;
}

body {
    margin: 0;
    color: #333; /* Texto preto */
    font-family: 'Arial', sans-serif;
    background: url('caminho/para/sua/imagem.jpg') center center fixed; /* Substitua pelo caminho da sua imagem */
    background-size: cover;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #542E71, #E90064);
    background-size: cover;
}

#cadastro-login-container {
    width: 500px;
    margin: 50px auto; /* Centralizar na tela com um espaçamento superior de 50px */
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.login,
.signup {
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Borda cinza claro */
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #800080; /* Roxo */
    color: #fff; /* Texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5a005a; /* Roxo escuro no hover */
}

/* Adicionando estilo aos links de navegação */
a {
    color: #800080; /* Roxo */
    text-decoration: none;
}

a:hover {
    color: #5a005a; /* Roxo escuro no hover */
}
